.logo {
  margin: 10% 0 4% 0;
  text-align: center;
}
  .logo_img {
    width: 18%;
  }

.description {
  width: 25%;
  margin: 0 auto;
  font-weight: 300;
}

.tagline {
  margin: 10px 0;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}


.description, .tagline {
  animation-name: header-fade-in;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes header-fade-in {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
