.header_loading {
  z-index: 100;
  height: 100vh;
  position: relative;
  background-color: black;
}

.header {
  z-index: 100;
  height: 100vh;
  position: relative;
}
  .header_background {
    width: 100vw;
    height: 100vh;
    background-color: black;
    transform: translate3d(0, 0, 0);
  }

.container {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 25%;
  transform: translate3d(0, 0, 0);
}

.logo {
  margin: 0;
  text-align: center;
}
  .logo_img {
    width: 18%;
  }

.description {
  width: 25%;
  margin: 0 auto;
  font-weight: 300;
}

.tagline {
  margin: 10px 0;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}


.description, .tagline {
  animation-name: header-fade-in;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes header-fade-in {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
