{
    "presets": [
      [
        "env",
        {
          "targets": {
            "node": 9
          },
          "test": {
            "plugins": ["rewire"]
          }
        }
      ]
    ]
}