# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Extract
content

# Custom
.DS_Store
.idea

# Sitemap is generated
static/sitemap.xml

# Ignore generated SW
sw.*
