

.code {
  padding-top: 0;
  padding-bottom: 0;
}

.code_button {
  background-color: transparent;
  border: none;
  padding: 0;
  position: relative;
  transition: transform ease-in-out 900ms;
  &.active {
    transform: translateX(250%);
  }
  &.bounce {
    animation-name: code_button-annim;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
  }
}
  .code_transistion_smooth {
    background-color: white;
    opacity: 0.6;
    z-index: 1;
    width: 300%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity ease-in-out 900ms;
    transform: translateX(-100%);
    &.active {
      opacity: 1;
    }
  }

.design_button {
  background-color: transparent;
  border: none;
  padding: 0;
  position: relative;
  transition: transform ease-in-out 900ms;
  &.active {
    transform: translateX(-250%);
  }
  &.bounce {
    animation-name: design_button-annim;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
  }
}
  .design_transistion_smooth {
    background-color: white;
    opacity: 0.6;
    z-index: 1;
    width: 300%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity ease-in-out 900ms;
    transform: translateX(33.3333333%);
    &.active {
      opacity: 1;
    }
  }

.codeContent {
  width: inherit;
  margin: auto;
  padding-left: 25%;
  @media (max-width: 400px) { padding-left: 0; }
  @media (min-width: 1000px) { padding-left: 15%; }
}
.designContent {
  padding-right: 25%;
  @media (max-width: 400px) { padding-right: 0; }
  @media (max-width: 1000px) {
    width: inherit;
    margin: auto;
  }
}
  .codeTitle {
    background: url('/assets/logo-code.png') no-repeat;
    background-position: left bottom;
    background-size: contain;
    color: transparent;
    display: block;
    height: 9rem;
    width: 13rem;
    font-size: 54px;
    font-weight: 300;
    @media (min-width: 1500px) {
      height: 12rem;
      width: 18rem;
    }
  }
  .codeP {
    text-align: left;
    text-transform: none;
    color: #333333;
    font-size: 13px;
    @media (min-width: 1500px) {
      font-size: 1.4em;
    }
  }

  .designTitle {
    background: url('/assets/logo-design.png') no-repeat;
    background-position: right bottom;
    background-size: contain;
    margin-left: auto;
    margin-right: 0;
    color: transparent;
    display: block;
    height: 9rem;
    width: 13rem;
    font-size: 54px;
    font-weight: 300;
    @media (min-width: 1500px) {
      height: 12rem;
      width: 18rem;
    }
  }
  .designP {
    text-align: right;
    color: #333333;
    font-size: 13px;
    @media (min-width: 1500px) {
      font-size: 1.4em;
    }
  }

/** Btns Annimations **/
@keyframes code_button-annim {
  0%   {transform: translateX(0);}
  10%   {transform: translateX(15%);}
  20%   {transform: translateX(0);}
  30%   {transform: translateX(12%);}
  40%   {transform: translateX(0);}
  50%   {transform: translateX(10%);}
  60%   {transform: translateX(0);}
  70%   {transform: translateX(7%);}
  80%   {transform: translateX(0);}
  90%   {transform: translateX(2%);}
  100%   {transform: translateX(0);}
}

@keyframes design_button-annim {
  0%   {transform: translateX(0);}
  10%   {transform: translateX(-15%);}
  20%   {transform: translateX(0);}
  30%   {transform: translateX(-12%);}
  40%   {transform: translateX(0);}
  50%   {transform: translateX(-10%);}
  60%   {transform: translateX(0);}
  70%   {transform: translateX(-7%);}
  80%   {transform: translateX(0);}
  90%   {transform: translateX(-2%);}
  100%   {transform: translateX(0);}
}
