.design {
  overflow-x: hidden;
  padding-top: 0;
}
  .ecailles {
    margin: 0 -17%;
  }
  .title {
    color: white;
    font-weight: 300;
    font-size: 40px;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    @media (min-width: 990px) { font-size: 80px; }
    @media (min-width: 800px) { font-size: 3rem; }
  }
  .codeTitle {
  }
  .content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -104%);
    @media (min-width: 768px) {
      transform: translate(0, -75%);
    }
  }
