.flakes_container {
  width: 100%;
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
  .flakes_container_offset {
    margin-bottom: 30%;
  }

.flake_left {
  width: 40%;
  position: relative;
  @media (max-width: 1000px) { width: 60%; }
  @media (max-width: 800px) { width: 70%; }
  @media (max-width: 600px) { width: 95%; }
}
  .flake_left_img {
    width: 100%;
  }
  .flake_left_content {
    left: 10%;
  }

.flake_right {
  width: 40%;
  position: relative;
  @media (max-width: 1000px) { width: 60%; }
  @media (max-width: 800px) { width: 70%; }
  @media (max-width: 600px) { width: 95%; }
}
  .flake_right_offset {
    transform: translateY(50%);
  }
  .flake_right_img {
    width: 100%;
  }
  .flake_right_content {
    right: 10%;
  }

.flake_right_content, .flake_left_content {
  position: absolute;
  top: 0;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
  .flake_title, .flake_subtitle {
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
  }
  .flake_title {
    text-align: center;
    font-size: 40px;
    @media (max-width: 900px) { font-size: 30px; }
  }
  .flake_subtitle {

  }
  .flake_paragraph {
    font-size: 13px;
    letter-spacing: 1.8px;
    text-align: center;

    @media (max-width: 450px) { font-weight: 300; }
    @media (min-width: 1580px) {
      font-size: 1.4em;
      letter-spacing: 3.8px;
      line-height: 1.6em;
    }
  }
