/* parallax */
.parallax {
  height: inherit;
  position: relative;
  perspective: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.flakes_group_parralax {
  position: relative;
  height: 100vh;
  display: block;
  transform-style: preserve-3d;
}
  .paralax3d {
    transform: translate3d(700px, 0, -800px) rotateY(30deg);
  }
  .flakes_background_parralax{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, -600px) scale(3);
  }
  .flakes_background_parralax_img {
    width: 100%;
  }
  .flakes_container_parralax{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    & .parralax {
      transform: translate3d(0,0,-300px) scale(2);
    }
  }

/* Normal displaying */
.flakes_container {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flake_left {
  width: 40%;
  position: relative;
  text-align: left;
  will-change: transform;
  @media (max-width: 1000px) { width: 60%; }
  @media (max-width: 800px) { width: 70%; }
  @media (max-width: 600px) { width: 95%; }
}
  .flake_left_img {
    width: 75%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  .flake_left_content {
    width: 75%;
  }

.flake_right {
  width: 40%;
  position: relative;
  text-align: right;
  will-change: transform;
  @media (max-width: 1000px) { width: 60%; }
  @media (max-width: 800px) { width: 70%; }
  @media (max-width: 600px) { width: 95%; }
}
  .flake_right_img {
    width: 75%;
  }
  .flake_right_content {
    right: 0;
    width: 75%;
  }

.flake_right_content, .flake_left_content {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
  .flake_title, .flake_subtitle {
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    margin: 0;
  }
  .flake_title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
    @media (max-width: 900px) { font-size: 30px; }
  }
  .flake_subtitle {

  }
  .flake_paragraph {
    font-size: 13px;
    letter-spacing: 1.8px;
    text-align: center;
    width: 65%;

    @media (max-width: 450px) { font-weight: 300; }
    @media (min-width: 1580px) {
      font-size: 1.1em;
      letter-spacing: 3px;
      line-height: 1.6em;
    }
  }
