.aya {
  position: relative;
  margin-top: -100px;
  margin-bottom: 0;
}

.top, .bottom {
  width: 80px;
  margin-left: 6px;
  @media (max-width: 900px) {
    width: 60px;
    margin-left: 6px;
  }
}

.top {
  transform: rotateZ(-90deg) scaleX(-0.9);
  @media (min-width: 1580px) { width: 5em; }
}

.bottom {
  transform: rotateZ(-90deg) scaleX(0.9);
  @media (min-width: 1580px) { width: 5em; }
}

.schemaCenter {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}

.schemaContainer {
  color: white;
  font-size: 36px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  @media (max-width: 900px) {
    font-size: 24px;
    line-height: 9px;
  }
}
.schemaLegend {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  @media (max-width: 900px) {
    font-size: 16px;
  }
}

.lastLine {
  margin-top: 100px;
  @media (max-width: 700px) { margin-top: 250px; }
}
