header {
  position: relative;
  background-size: cover;
  padding-bottom: 100px;
  text-align: center;
  color: white;

  &:before {
    background-size: cover;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  & h2 {
    font-weight: 300;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px #111111;
    @media (max-width: 450px) {
      font-weight: 500;
    }
  }
}

.logo {
  padding: 50px 0 20px;
  & img {
    width: 100%;
    max-width: 400px;
    min-height: 228px;
  }
}

.description {
  text-align: center;
  padding: 0 20px;
  font-weight: 300;
  text-shadow: 1px 1px 5px #111111;

  @media (max-width: 450px) {
    font-weight: 500;
  }

  @media (min-width: 1200px) {
    letter-spacing: 0.1em;
    line-height: 1.2em;
    font-size: 1.1em;
  }
  @media (min-width: 1580px) {
    letter-spacing: 0.1em;
    line-height: 1.2em;
    font-size: 1.4em;
  }
}

.logoImg {
  width: '100%';
  max-width: '400px';
  min-height: '228px';
}

.palm_background {
  position: relative;

  &:before {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-color: black;
  }
}

.palm_background:before {
  background-image: url("/assets/background/palms.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1f1619;

  @media (max-width: 768px) {
      background-image: url("/assets/background/palms-sm.jpg");
  }
}

.palm_background_full_size {
  height: 100%;
}
