@import "_common";

body {
  font-size: $font-size-1;
  font-weight: lighter;
  letter-spacing: 1px;
  background: black;
  font-family: 'Lato', sans-serif;

  .h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
  }
}

a {
  text-decoration: none;
  color: $text-color-black;

  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
}

section {
  padding: 50px 0;
  position: relative;

  .left {
    .scale {
      float: left;
      h1, h2 {
        text-transform: uppercase;
      }
      h2 {
        font-size: 34px;
      }
    }
  }
  .right {
    .scale {
      float: right;
      margin-top: -40%;
    }
  }

  .scale {
    position: relative;
    width: 40%;
    .content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -60%);
      width: 62%;
      font-size: 16px;
      h1, h2 {
        text-align: center;
        color: white;
      }
      h1 {
        font-size: 40px;
      }
      h2 {
        font-size: 22px;
        margin-top: 10px;
        font-weight: lighter;
      }
      p {
        color: #ddd;
        font-size: 13px;
        letter-spacing: 1.8px;

        @media (max-width: 450px) {
          font-weight: 200;
        }
      }
    }
  }

  /*
   * Vision section
   */
  &.vision {
    margin-top: -130px;
  }

  /*
   * Quality section
   */
  &.quality {
    margin-top: -200px;
  }

  /*
   * Method section
   */
  &.method {
    margin-top: -200px;
    padding-bottom: 0;
  }

  /*
   * Code section
   */
  &.code {
    padding-top: 0;
    padding-bottom: 0;

    .scale .content {
      h1, h2, p {
        color: $text-color-black;
      }
      h1 {
        font-size: $font-size-5;
        font-weight: lighter;
      }
    }

    .left .scale .content {
      h1, p {
        text-align: left;
        text-transform: none;
      }

      h1 {
        background-image: url('./img/logo-code.png');
        background-size: cover;
        display: block;
        height: 15rem;
        width: 15rem;
      }
    }
    .right .scale .content {
      h1, p {
        text-align: right;
      }

      h1 {
        background-image: url('./img/logo-design.png');
        background-size: cover;
        display: block;
        height: 15rem;
        width: 20rem;
        margin-left: auto;
        margin-right: 0;
      }
    }
  }

  /*
   * Aya section
   */
  &.aya {
    position: relative;
    margin-top: -100px;
    margin-bottom: 0;

    .aya {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translate(0, -50%);
    }

    .row:last-child {
      margin-top: 100px;
    }

    .row {
      margin: 0;
    }

    h1, h2 {
      text-align: center;
      color: white;
    }

    h1 {
      font-size: 36px;
      font-weight: 200;
      line-height: 32px;
    }
    h2 {
      font-size: 24px;
      font-weight: lighter;
    }

    .top, .bottom {
      width: 80px;
      margin-left: 6px;
    }

    .top {
      transform: rotateZ(-90deg) scaleX(-0.9);
    }
    .bottom {
      transform: rotateZ(-90deg) scaleX(0.9);
    }
  }

  /*
   * Zenika section
   */
  &.zenika {
    margin-top: -200px;
    margin-bottom: -300px;
    overflow: hidden;

    .row {
      margin: 0;
    }

    .logo {
      margin: 100px 0 0;
      text-align: center;
      img {
        width: 100%;
        max-width: 320px;
      }
    }

    .description {
      color: white;
      p {
        margin: 50px 0 0;
        text-align: justify;
        @media (max-width: 450px) {
          font-weight: normal;
        }
      }
    }
  }

  /*
   * Contact section
   */
  &.contact {
    background-color: rgba(0, 0, 0, 0.10);

    &:before {
      // background: url("./img/background/mountain.jpg") center center;
      background-position: center center;
      background-size: cover;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
      background-color: black;
    }

    .right .scale .content {
      text-align: center;
      h1, h2, p {
        color: $text-color-black;
      }
      h1 {
        font-size: $font-size-5;
        font-weight: lighter;
      }
    }

    .left .scale .content {
      width: 150px;
      font-size: 50px;
      transform: translate(-80%, -50%);

      a {
        clear: both;
      }
      a:nth-child(odd) {
        float: left;
      }
      a:nth-child(even) {
        float: right;
      }

      .logo {
        width: 60px;
      }
    }

    .logo {
      margin: 0;
      text-align: center;
      img {
        width: 100%;
        max-width: 400px;
      }
    }

    .icon-twitter {
      background-image: url('./img/twitter.svg');
      width: 6rem;
      height: 5rem;
      display: block;
      background-size: cover;
    }

    .icon-linkedin {
      background-image: url('./img/linkedin.svg');
      width: 5rem;
      height: 5rem;
      display: block;
      background-size: cover;
    }

    .external-link {
      background-image: url('./img/external-link.svg');
      display: inline-block;
      height: 1rem;
      width: 1rem;
      background-size: cover;
    }
  }

  /*
   * Design section
   */
  &.design {
    overflow-x: hidden;
    padding-top: 0;
    img {
      margin: 0 -17%;
    }
    h1 {
      color: white;
      font-weight: lighter;
      font-size: $font-size-4;
      padding: 0 10px;
    }
    .content {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translate(0, -104%);
      h1 {
        text-align: right;
        text-transform: uppercase;
        margin: 0;
      }
      div:first-child {
        h1 {
          text-align: left;
        }
      }
    }
  }

  &.no-margin {
    .left, .right {
      width: 50%;
      float: left;
      .scale {
        width: 90%;
      }
    }
    .right {
      .scale {
        float: right;
        margin-top: 0;
      }
    }
    .scale {
      .content {
        width: auto;
      }
    }
  }
}

@media (min-width: $screen-md) and (max-width: $screen-lg) {
  section {
    .scale {
      width: 45%;
    }
  }
}

@media (min-width: $screen-sm) and (max-width: $screen-md) {
  section {
    .scale {
      width: 60%;
    }
  }
}

@media (max-width: $screen-sm) {
  section {
    .left {
      .scale {
        .content {
          transform: translate(-79%, -62%);
        }
      }
    }
    .right {
      .scale {
        width: 50%;
        .content {
          transform: translate(-30%, -62%);
          width: 70%;
        }
      }
    }
    &.no-margin {
      .right {
        .scale {
          .content {
            transform: translate(-42%, -60%);
          }
        }
      }
    }
    &.contact.no-margin {
      .right {
        .scale {
          .content {
            transform: translate(-32%, -60%);
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  section {
    .scale {
      .content {
        h1 {
          font-size: 30px;
        }
        h2 {
          font-size: 18px;
          margin-top: 10px;
          font-weight: lighter;
        }
      }
    }
    &.aya {
      .top, .bottom {
        width: 60px;
        margin-left: 6px;
      }
      h1 {
        font-size: 24px;
        line-height: 9px;
      }
      h2 {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 700px) {
  section {
    &.aya {
      .row:last-child {
        margin-top: 250px;
      }
    }
  }
}

@media (max-width: 400px) {
  section {
    &.aya {
      h1 {
        font-size: 20px;
      }
      h2 {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 600px) {
  section {
    .scale {
      width: 70%;
    }
    .right {
      .scale {
        width: 95%;
      }
    }
    &.no-margin {
      .left, .right {
        width: 100%;
        float: left;
        .scale {
          width: 90%;
        }
      }

      .right {
        .scale {
          float: right;
          margin-top: -40%;
        }
      }
    }
  }
}

@media (min-width: $screen-sm) {
  section {
    &.design {
      h1 {
        font-size: 80px;
      }
      .content {
        transform: translate(0, -75%);
      }
    }
  }
}

@media (min-width: $screen-lg) {
  header .description, section.zenika .description p {
    text-align: justify;
    padding: 0 20px;
    font-weight: 100;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    font-size: 1.1em;
  }
}

@media (min-width: 1580px) {
  section {
    .scale .content p {
      color: #ddd;
      font-size: 1.4em;
      letter-spacing: 3.8px;
      line-height: 1.6em;
    }

    &.aya {
      .top, .bottom {
        width: 5em;
      }
    }
  }

  header .description, section.zenika .description p {
    text-align: justify;
    padding: 0 20px;
    font-weight: 100;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    font-size: 1.4em;
  }

  section.code .left .scale .content h1 {
    height: 25rem;
    width: 25rem;
  }

  section.code .right .scale .content h1 {
    height: 25rem;
    width: 35rem;
  }
}

.loaded .contact:before {
  background-image: url("./img/background/mountain.jpg");
}

@media (min-width: $screen-sm) {
  .loaded .contact:before {
    background-image: url("./img/background/mountain-sm.jpg");
  }
}
