svg {
  &.scale-mask-transparent {
    .core, .side, .intersection {
      fill-rule: evenodd;
    }

    .core {
      fill: #d6d6d6;
    }

    .intersection {
      fill: #eeeeee;
    }

    .side {
      fill: #919191;
    }
  }

  &.scale-mask-opaque {
    .core, .side, .intersection {
      fill-rule: evenodd;
      fill: #ffffff;
    }
  }
}