.first-background, .second-background {
  position: relative;
  // background-color: rgba(0, 0, 0, 0.40);
  &:before {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

.first-background:before {
  background: url("./img/background/Background-palm.jpg");
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #1f1619;
}

.second-background:before {
  background: url("./img/background/road.jpg") center center;
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
}

.gradient-separation {
  width: 100%;
  height: 600px;
  margin-top: -300px;
  margin-bottom: -300px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+50,000000+100&0+0,1+50,0+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */
}
