.slider_btn {
  display: block;
  border: none;
  background-color: white;
  position: relative;
  top: 15%;
  padding: 0;
  z-index: 2;
  &:hover {
    cursor: pointer;
  }
}
  .slider_btn_img {
    width: 2rem;
  }

.slider_btn_reverse {
  transform: rotate(180deg);
}
